// A theme inspired by Curtana.
//
// This is a light-ish version adapted for my needs, it doesn't
// cover the full spectrum of features Curtana does.

@import "reset";

// Variables.
:root {
    --color-dark-bg: #242323;
    --color-light-bg: #343131;
    --color-text: #ffe7e5;
    --color-text-hl: #ff4238;

    --font-family: -apple-system, system-ui, "Helvetica Neue", "Segoe UI", sans-serif;
    --space: 24vw;
}

:root {
    --font-size: 1.4vw;
    --side-padding: calc(var(--space) * 1.1);
}

@media (max-width: 1600px) {
    :root {
	--font-size: 1.6vw;
	--side-padding: calc(var(--space) * 0.8);
    }
}

@media (max-width: 1080px) {
    :root {
	--font-size: 2.25vw;
	--side-padding: calc(var(--space) * 0.5);
    }
}

@media (max-width: 640px) {
    :root {
	--font-size: 3.80vw;
	--side-padding: calc(var(--space) * 0.3);
    }
}

@media (max-width: 400px) {
    :root {
	--font-size: 5.10vw;
	--side-padding: calc(var(--space) * 0.15);
    }
}

// Common.
html {
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: 1.5;
    background-color: var(--color-dark-bg);
    color: var(--color-text);
}

a {
    text-decoration: none;
    color: var(--color-text);
}

a:hover {
    color: var(--color-text-hl);
}

h1 {
    line-height: 1.1;
    font-size: 300%;
    font-weight: 700;
    letter-spacing: -.038em;
}

small {
    font-size: smaller;
}

// Navigation.
nav {
    padding: 0.75vmax var(--side-padding) 0.75vmax var(--side-padding);

    ul {
	li {
	    display: inline-block;
	    font-size: 90%;
	    line-height: 2;
	    font-weight: 700;
	    text-transform: uppercase;
	    padding: .5em 1.4vmax 0 0;

	    .active{
		color: var(--color-text-hl);
	    }
	}
    }
}

// Content.
article {
    header {
	padding: 18vmin var(--side-padding) 18vmin var(--side-padding);
	margin: 0 calc(var(--side-padding) * -1.0) 16vmin calc(- var(--space));
	background-color: var(--color-light-bg);
    }

    #content {
	padding: 0 var(--side-padding) 0 var(--side-padding);
    }
}

footer {
    padding: 0 var(--side-padding) 0 var(--side-padding);
}
