// Ran.

@import "reset";

// Colors.
$color-dark-bg: #242323;
$color-light-bg: #343131;
$color-text: #ffe7e5;
$color-text-hl: #ff4238;

// Internal variables.
$font-family: -apple-system, system-ui, "Helvetica Neue", "Segoe UI", sans-serif;
$font-size: 1.6vw;

// Common.
html {
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: $font-family;
    font-size: $font-size;
    line-height: 1.5;
    background-color: $color-dark-bg;
    color: $color-text;
}

@media (max-width: 1080px) {
    body {
	font-size: $font-size * 1.4;
    }
}

@media (max-width: 640px) {
    body {
	font-size: $font-size * 2.4;
    }
}
    
@media (max-width: 400px) {
    body {
	font-size: $font-size * 3.2;
    }
}

// Header.
nav {
    padding: 0.75vmax;

    ul {
	li {
	    display: inline-block;
	    font-size: 90%;
	    line-height: 2;
	    font-weight: 700;
	    text-transform: uppercase;
	    padding: .5em 1.4vmax;
	}
    }
}

// Content.

header {
    background-color: $color-light-bg;
}
